Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
build/
.gradle/
*.class
target/
*.war
*.jar
!gradle-wrapper.jar
*.log
logs/
.idea/
*.iml
.vscode/
grails-app/conf/application.yml